@model ProductListViewModel

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Categoria</th>
            <th scope="col">Quantità</th>
            <th scope="col" colspan="2"></th>
        </tr>
    </thead>
    <tbody>
    <!-- foreach da fare -->
    </tbody>
</table>
