@model  ProductViewModel

<form asp-action="save" asp-controller="Product">
<input asp-for="ProductId" type="hidden"/>
<div class="row">
    <div class="col">
        <label asp-for="ProductName"></label>
        <input asp-for="ProductName" />
    </div>
    <div class="col">
        <label asp-for="CategoryName"></label>
        <input asp-for="CategoryName" />
    </div>
    <div class="col">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" />
    </div>
    <div class="col">
        <label asp-for="QuantityPerUnit"></label>
        <input asp-for="QuantityPerUnit" />
    </div>
    <div class="col">
        <label asp-for="UnitPrice"></label>
        <input asp-for="UnitPrice" />
    </div>
    <div class="row">
        <button class="btn btn-info" type="button"></button>
        Inserisci
        <a class="btn btn-info" asp-action="Index" asp-controller="Product"></a>
    </div>
</div>
</form>
