@{
    ViewData["Title"] = "Home Page";
    
}

<h1>Premere il tasto qui sotto per visualizzare la lista degli oggetti aggiornata</h1>
<button class="btn btn-warning" type="button" onclick="location.href='@Url.Action("Index", "Product")'"">Lista aggiornata a @DateTime.Now</button>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
